<div id="banner" lang="en-Latn">
  {%- assign page_paths = site.pages | map: "path" -%}
  <div class="downloads">
    {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
        <span style="padding: 0px 5px;"><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></span>
      {%- endif -%}
    {%- endfor -%}
  </div>
  <div style="line-height: 52px; padding: 0px 5px; text-transform: uppercase;" lang="zxx">
    Preferred scripts for <label for="select-ta">Tamil text:</label>
    <form style="display: inline;">
      <select id="select-ta">
        <option value="Knda">ಕನ್ನಡ</option>
        <option value="Latn">Latin</option>
        <option value="Mlym">മലയാളം</option>
        <option value="Taml" id="option-Taml" selected>தமிழ்</option>
        <option value="Telu">తెలుగు</option>
      </select>
    </form>
    and <label for="select-sa">Sanskrit text:</label>
    <form style="display: inline;">
      <select id="select-sa">
        <option value="Deva">देवनागरी</option>
        <option value="Gran" id="option-Gran" selected>𑌗𑍍𑌰𑌨𑍍𑌥𑌃</option>
        <option value="Latn">Latin</option>
      </select>
    </form>
  </div>

  <script type="module" lang="zxx">
      // Ensuring the form‐select’s change event‐handler has access to
      // both the old and new values.
      function onSelectValueChange(selector, eventHandler) {
          let previous;
          let elt = document.querySelector(selector);
          elt.addEventListener("focus", function() {
              previous = this.value;
          });
          elt.addEventListener("change", function() {
              eventHandler(previous, this.value);
              previous = this.value;
          });
      };

      import { transliterate as transliterator }
        from "https://cdn.jsdelivr.net/gh/deepestblue/SaulabhyaJS@0.3.0/src/saulabhya.min.js";
      import { transform } from "/assets/js/transform.js";

      // Adding handlers for the form‐selectsʼ change events.
      onSelectValueChange(
        "#select-ta",
        transform.bind(undefined, document.documentElement, transliterator, "ta")
      );
      onSelectValueChange(
        "#select-sa",
        transform.bind(undefined, document.documentElement, transliterator, "sa")
      );
  </script>
</div>
