<div id="banner">
  {%- assign page_paths = site.pages | map: "path" -%}
  <div class="downloads">
    {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
        <span style="padding: 0px 5px;"><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></span>
      {%- endif -%}
    {%- endfor -%}
  </div>
  {%- if page.layout == "post_with_script_changer" -%}
    <div style="line-height: 52px; padding: 0px 5px; text-transform: uppercase;">
      Preferred scripts for Tamil text:
      <form style="display: inline;">
        <select id="select-xlit-ta">
          <option value="knda">ಕನ್ನಡ</option>
          <option value="latn">Latin</option>
          <option value="mlym">മലയാളം</option>
          <option value="taml" selected>தமிழ்</option>
          <option value="telu">తెలుగు</option>
        </select>
      </form>
      and Sanskrit text:
      <form style="display: inline;">
        <select id="select-xlit-sa">
          <option value="deva">देवनागरी</option>
          <option value="gran" selected>𑌗𑍍𑌰𑌨𑍍𑌥𑌲𑌿𑌪𑌿𑌃</option>
          <option value="latn">Latin</option>
        </select>
      </form>
    </div>

    <script type="module">
        // Ensuring the form‐select's change event‐handler has access to
        // both the old and new values.
        function onSelectValueChange(selector, eventHandler) {
            let previous;
            let elt = document.querySelector(selector);
            elt.addEventListener("focus", function() {
                previous = this.value;
            });
            elt.addEventListener("change", function() {
                eventHandler(previous, this.value);
                previous = this.value;
            });
        };

        import { xliterate } from "/assets/js/xliterate.mjs";

        // The DOM nodes to transliterate.
        const nodes = [
            "[data-id=page-title]",
            "[data-id=page-content]",
            "nav",
        ].map(sel => document.querySelector(sel));

        const docLang = document.documentElement.lang;

        // Adding (a suitably bound) xliterate as a handler
        // for the form‐selectsʼ change events.
        onSelectValueChange("#select-xlit-ta",
            xliterate.bind(undefined,
                { nodes, docLang, langCode: "ta", }
            ));
        onSelectValueChange("#select-xlit-sa",
            xliterate.bind(undefined,
                { nodes, docLang, langCode: "sa", }
            ));
    </script>

  {%- endif -%}
</div>
