---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "Sampradaya";
    src: local("Sampradaya"), url("/assets/fonts/Sampradaya.ttf") format("truetype");
}

body *:lang(en) { font-family: 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif }
header h1:lang(en) { font-family: 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif; }

:lang(ta-Taml), #select-ta, #option-taml { font-family: Vijaya, "Tamil MN"; }
:lang(sa-Gran), #select-sa, #option-gran { font-family: Sampradaya; }
