<!doctype html>
<html lang="{{ page.lang }}">
  <head lang="mul">
    <meta charset="utf-8">
{%- seo -%}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="modulepreload"
      href="https://cdn.jsdelivr.net/gh/deepestblue/SaulabhyaJS@0.3.1/src/saulabhya.min.js"
      integrity="sha384-mHDuehKe/K61HyH3uSkFf7ATQXuUbftv73CC1grSzYqSpUXhdonjVZHlbvqoqGJE">
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/nav_lang_tags.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header lang="en-Latn">
      <a href = "/"><h1>{{ site.title }}</h1><p>{{ site.description }}</p></a>
    </header>
    {%- include banner.html -%}
    <div class="wrapper">
      <nav><ul></ul></nav>
      <section>
        <h1 data-id="page-title">{{ page.title }}</h1>
        {{ content }}
      </section>
    </div>
  </body>
</html>
