---
layout: default
---
<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
    {%- assign date_format = "%a, %d %b, %Y" -%}
    {{ page.date | date: date_format }}
  </time>
  {%- if page.author -%}
  • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">
    {{ page.author }}
  </span></span>
  {%- endif -%}
  {%- if page.tags.size > 0 -%}
  • <span>{{page.tags | join: ', '}}</span>
  {%- endif -%}

{{ content }}
