---
layout: post
---
<div data-lang="en">
    Preferred script for Tamil text
    <form>
        <select id="select-xlit-ta">
            <option value="knda">ಕನ್ನಡ
            <option value="latn">Latin
            <option value="mlym">മലയാളം
            <option value="taml" selected>தமிழ்
            <option value="telu">తెలుగు
        </select>
    </form>
    Preferred script for Sanskrit text
    <form>
        <select id="select-xlit-sa" onchange=xlit_sanskrit_data_to_ISO15919()>
            <option value="deva">देवनागरी
            <option value="gran" selected>𑌗𑍍𑌰𑌨𑍍𑌥𑌲𑌿𑌪𑌿𑌃
            <option value="knda">ಕನ್ನಡ
            <option value="latn">Latin
            <option value="mlym">മലയാളം
            <option value="telu">తెలుగు
        </select>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    let onSelectValueChange = function (selectId, eventHandler) {
        let previous;
        $(selectId).on('focus', function () {
            previous = this.value;
        }).change(function() {
            eventHandler(previous, this.value);
            previous = this.value;
        });
    };

    onSelectValueChange('#select-xlit-ta', xlit_ta_data);
    onSelectValueChange('#select-xlit-sa', xlit_sa_data);

    function xlit_ta_data(src_script, dst_script) {
        if (dst_script == "latn") {
            latn_xlit_ta_data(src_script, taml_to_latn);
            return;
        }
        if (src_script == "latn") {
            latn_xlit_ta_data(dst_script, latn_to_brahmiya);
            return;
        }

        latn_xlit_ta_data(src_script, taml_to_latn);
        latn_xlit_ta_data(dst_script, latn_to_brahmiya);
    }

    function latn_xlit_ta_data(other_script, converter) {
        let isLangTa = document.documentElement.lang == "ta";

        let title = $(".post-title")[0];
        if (isLangTa) {
            title.textContent = converter(other_script, title.textContent);
        }

        let content = $(".post-content")[0];
        (function walk(node, isTaText) {
            if (node.nodeType == Node.TEXT_NODE && isTaText) {
                node.textContent = converter(other_script, node.textContent);
                return;
            }
            if (node.nodeType == Node.ELEMENT_NODE) {
                let lang = node.dataset["lang"];
                if (lang) {
                    isTaText = (lang == "ta");
                }
            }
            node = node.firstChild;
            while (node) {
                walk(node, isTaText);
                node = node.nextSibling;
            }
        })(content, isLangTa);
    }

    function xlit_sa_data() {
    }
</script>

<script type="text/javascript" src="/assets/js/script_changer.js"></script>

{{ content }}
